.doctor-reviews-container {
    padding: 20px;
}

.review-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #e8e8e8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.review-text, .review-date {
    padding: 10px;
    margin: 0;
}
.profile-picture {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 10px; 
}
